body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-image: url('../images/white-wood.jpg');
  background-size: cover;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  box-sizing: border-box;
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
}

 h4.amiable {
   background: linear-gradient(
     to right,
     #118833,
     #66ee88
     );
 }

.indifferent {
  box-sizing: border-box;
  border: 1px solid #E7BA00;
  box-shadow: -1px 1px #E7BA00, -2px 2px #E7BA00, -3px 3px #E7BA00, -4px 4px #E7BA00, -5px 5px #E7BA00;
  background-color: #dddd22;
}

h4.indifferent {
  background: linear-gradient(
    to right,
    #AF7900,
    #FFF600
    );
}

.dubious {
  box-sizing: border-box;
  border: 1px solid #990000;
  box-shadow: -1px 1px #990000, -2px 2px #990000, -3px 3px #990000, -4px 4px #990000, -5px 5px #990000;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
